body {
	font-family: "Times New Roman", Times, serif;
	font-size: 10pt;
}

h1 {
	font-family: Arial;
	font-size: 18pt;
	text-align: center;
}

h2 {
	text-transform: uppercase;
}

h2,
h3,
h4 {
	font-family: Arial;
	font-size: 9pt;
	margin-bottom: 0;
}

h4 {
	font-style: italic;
}

table {
	width: 100%;
}

address {
	text-align: center;
	font-size: 12pt;
	font-style: normal;
}

address:first-line {
	font-weight: bold;
}

footer {
	width: 3.35in;
	display: table-row;
	position: absolute;
	bottom: 0;
}

small {
	font-size: 8pt;
}

a {
	text-decoration: none;
	color: #4074AD;
}

figure {
	margin: 0;
}

img {
	width: 100%;
}

figcaption,
caption {
	text-align: center;
	font-size: 9pt;
	font-weight: bold;
}

figure {
	margin: 0;
}


table caption {
	caption-side: bottom;
	margin-top: 2pt;
}

td {
	text-align: center;
	vertical-align: top; !important
}

table {
	border-collapse: collapse;
	margin: 4pt 0;
}

th {
	padding-left: 5pt;
	padding-right: 5pt;
	text-align: center;
}

thead tr th:first-child,
tbody > tr > th {
	border-right: 1px solid #BFBFBF;
}

.table > tbody > tr:first-child {
	border-top: 1px solid #BFBFBF;
}

div.page table {
	vertical-align: text-top;
}

#whole-page {
	width: 8.5in;
}

.page {
	width: 7in;
	height: 9.25in;
	margin: 0 auto;
	padding-top: 0.75in;
	page-break-after: always;
}

.column {
	width: 3.35in;
	height: 100% !important;
	text-align: justify;
	position: relative;
}

.column-left {
	float: left;
}

.column-right {
	float: right;
}

.column-gap {
	width: 0.3in !important;
	float: left;
	height: 100%;
}


.fp {
	display: table;
}

.content {
	width: 3.35in;
}
